HOLA PRUEBA
{% extends "base.html" %}

{% block content %}

<h2>Lista de Reclamos</h2>

<table border="1" width="100%" cellpadding="8">
    <thead style="background-color:#3498db; color:white;">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Tipo</th>
            <th>Descripción</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Acción</th>
        </tr>
    </thead>

    <tbody>
        {% for r in reclamos %}
        <tr>
            <td>{{ r[0] }}</td>
            <td>{{ r[1] }}</td>
            <td>{{ r[2] }}</td>
            <td>{{ r[3] }}</td>
            <td>{{ r[4] }}</td>
            <td>{{ r[6] }}</td>
            <td>{{ r[5] }}</td>
            <td>
                {% if r[5] == "Pendiente" %}
                    <a href="/resolver/{{ r[0] }}">Marcar Resuelto</a>
                {% else %}
                    —
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}